data/app/*/
data/infer/*/
data/tune/*/
examples/*/debug.py
third_party/LongBench/data*/
third_party/LongBench/pred*/
third_party/AttrScore/AttrScore/
third_party/FActScore/.cache/
third_party/FActScore/data/
third_party/LLaMA-Factory/data/*/
third_party/LLaMA-Factory/output/
weights/
**/__pycache__/
**/.DS_Store
nohup*
