data/
data
weights/
weights
pretrained/
pretrained
third_party/LongBench/data*/
third_party/LongBench/pred*/
third_party/AttrScore/AttrScore/
third_party/FActScore/.cache/
third_party/FActScore/data/
third_party/LLaMA-Factory/data/*/
third_party/LLaMA-Factory/output/
**/__pycache__/
**/.DS_Store
nohup*
*debug.py
