accelerate
deepspeed
einops
flash_attn>=2.4.2
jax>=0.4.31
jieba>=0.42.1
jsonlines>=4.0.0
nltk>=3.8.1
numpy
pandas
peft>=0.9.0
pydantic>=1.10.13
PyYAML>=6.0.1
rouge_score>=0.1.2
scikit_learn>=1.2.1
spacy>=3.7.2
uvicorn
vllm>=0.2.1
xformers>=0.0.22
